{% extends "layout.html" %}

{% block body %} 
<br>

<h1 style="text-align:center; font-family: Fantasy,Papyrxus;">Welcome to Spelling Sloth</h1>
<p>

</p>

<h2 style="text-align:center; font-family: Fantasy,Papyrxus;">Register on this website to learn with Sammy and Mikey!</h2>
<h2 style="text-align:center; font-family: Fantasy,Papyrxus;">Practice your spelling and times tables. Collect points and earn stickers!</h2>
<br>
<br>
<br>
<div style="text-align:center; font-family: Fantasy,Papyrxus; width: 100%;">
  <button id="CRAP" type="button" class="btn btn-yellow btn-lg" style="text-align:center; font-family: Fantasy,Papyrxus;" onmousedown="party.confetti(this)">Hi! I'm Sammy, the Spelling Sloth!</button>
  <button id="CRAP" type="button" class="btn btn-warning btn-lg" style="text-align:center; font-family: Fantasy,Papyrxus;" onmousedown="party.confetti(this)">I'm Mikey, the Math Monkey. Nice to meet you!</button>
  </div>
  <div style="text-align: center;" onmousedown="party.confetti(this)"><img src="static/images/slothy.png" width="310" height="310" onmousedown="party.confetti(this)"><img src="static/images/monkey-tree.png" width="280" height="280"></dv>
  </div>


  
{% endblock %} 