<!DOCTYPE html>

<html lang="en">
    <head>

        
        
         <meta http-equiv="refresh" content="0; url=https://hillierben.github.io/final-project/templates/index.html">


        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/bootstrapLumen.css" rel="stylesheet">
        

        <title>Spelling Sloth</title>
    </head>

    <body><nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" style="justify-content: center;" href="/">Spelling Sloth</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            {% if session["user_id"] %}
            <ul class="navbar-nav me-auto">
              <li class="nav-link active">
                <a class="nav-link" href="/stickers">Stickers
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-link active">
                <a class="nav-link" href="/spelling">Spelling Sloth</a>
              </li>
              <li class="nav-link active">
                <a class="nav-link" href="/timestables">Monkey Maths</a>
              </li>
              <li class="nav-item dropdown">
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-link active"><a class="nav-link" href="/welcome">Welcome, {{ session["username"] }}</a></li>
                <li class="nav-link active"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-link active"><a class="nav-link" href="/registration">Register</a></li>
                <li class="nav-link active"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
 
        {% extends "layout.html" %}


        <br>

        <h1 style="text-align:center; font-family: Fantasy,Papyrxus;">Welcome to Spelling Sloth</h1>
        <p>

        </p>

        <h2 style="text-align:center; font-family: Fantasy,Papyrxus;">Register on this website to learn with Sammy and Mikey!</h2>
        <h2 style="text-align:center; font-family: Fantasy,Papyrxus;">Practice your spelling and times tables. Collect points and earn stickers!</h2>
        <br>
        <br>
        <br>
        <div style="text-align:center; font-family: Fantasy,Papyrxus; width: 100%;">
          <button id="CRAP" type="button" class="btn btn-yellow btn-lg" style="text-align:center; font-family: Fantasy,Papyrxus;" onmousedown="party.confetti(this)">Hi! I'm Sammy, the Spelling Sloth!</button>
          <button id="CRAP" type="button" class="btn btn-warning btn-lg" style="text-align:center; font-family: Fantasy,Papyrxus;" onmousedown="party.confetti(this)">I'm Mikey, the Math Monkey. Nice to meet you!</button>
          </div>
          <div style="text-align: center;" onmousedown="party.confetti(this)"><img src="static/images/slothy.png" width="310" height="310" onmousedown="party.confetti(this)"><img src="static/images/monkey-tree.png" width="280" height="280"></dv>
          </div>


  

        
        <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
    </body>
</html>


