{% extends "layout.html" %}

{% block body %} 

<br>
<h1 style="text-align:center; font-family: Fantasy,Papyrxus;">Welcome {{ session['username']}}</h1>
<p>
</p>
<br>
<br>
<br>
<div style="text-align: center; width: 100%;">
<button id="CRAP" type="button" class="btn btn-yellow btn-lg" style="text-align:center; font-family: Fantasy,Papyrxus;" onmousedown="party.confetti(this)">Earn points to collect stickers!</button>
<button id="CRAP" type="button" class="btn btn-warning btn-lg" style="text-align:center; font-family: Fantasy,Papyrxus;" onmousedown="party.confetti(this)">You can see your stickers below!</button>
</div>
<div style="text-align: center;" onmousedown="party.confetti(this)"><img src="static/images/slothy.png" width="310" height="310" onmousedown="party.confetti(this)"><img src="static/images/monkey-tree.png" width="280" height="280"></dv>
</div>

<div style="text-align: center;">

    <p>
        <h2 style="text-align: center; font-family: Fantasy,Papyrxus;"> Spelling Stickers</h2>
    </p>
    <br>
    
    <table class="tableCenter" >
        <tr>
            <td><img src="/static/{{ image[11] }}/orange.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">3 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['threeLettPoints'] }} out of 12 points</div></td>
            <td><img src="/static/{{ image[12] }}/panda.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">4 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['fourLettPoints'] }} out of 12 points</div></td>
            <td><img src="/static/{{ image[13] }}/perch.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">5 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['fiveLettPoints'] }} out of 12 points</div></td>
            <td><img src="/static/{{ image[14] }}/mango.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">6 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['sixLettPoints'] }} out of 12 points</div></td>
        </tr>
        <tr>
            <td><img src="/static/{{ image[15] }}/pineapple (1).png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">7 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['sevenLettPoints'] }} out of 12 points</div></td>
            <td><img src="/static/{{ image[16] }}/fried-egg.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">8 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['eightLettPoints'] }} out of 12 points</div></td>
            <td><img src="/static/{{ image[17] }}/star.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">9 Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['nineLettPoints'] }} out of 12 points</div></td>
            <td><img src="/static/{{ image[18] }}/success.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">10+ Letter Words!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ sDict['tenLettPoints'] }} out of 12 points</div></td>
        </tr>
    </table>

    <br>
    <br>

<p>
    <h2 style="text-align: center; font-family: Fantasy,Papyrxus;">Times Table Stickers</h2>
</p>

<p>
<table class="tableCenter" >
    <tr>
        <td><img src="/static/{{ image[0] }}/banana2.png"; alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">2 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['twoXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[1] }}/blueman.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">3 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['threeXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[2] }}/hi.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">4 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['fourXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[3] }}/chicken.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">5 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['fiveXPoints'] }} out of 12 points</div></td>
    </tr>
    <tr>
        <td><img src="/static/{{ image[4] }}/cupcake.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">6 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['sizXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[5] }}/whale.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">7 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['sevenXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[6] }}/emoticon.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">8 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['eightXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[7] }}/fried-egg.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">9 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['nineXPoints'] }} out of 12 points</div></td>
    </tr>
    <tr>
        <td><img src="/static/{{ image[8] }}/gingerbread.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">10 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['tenXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[9] }}/happy.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">11 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['elevenXPoints'] }} out of 12 points</div></td>
        <td><img src="/static/{{ image[10] }}/love.png" alt="banana" width="250" height="250"/><div style="text-align:center; font-family: Fantasy,Papyrxus;">12 Times-Tables!</div><div style="text-align:center; font-family: Fantasy,Papyrxus;">You have {{ tDict['twelveXPoints'] }} out of 12 points</div></td>
    </tr>
</table>
<br>

</p>
</div>



{% endblock %} 