{% extends "layout.html" %}

{% block body %} 
<br>
<h1 style="text-align:center; font-family: Fantasy,Papyrxus;">Welcome {{ session['username']}}</h1>
<p>
</p>
<br>
<br>
<br>

<div style="position: relative; left: -230px; top: -80px;">
    <div class="circular-sb">
        <h4 id="CRAP">You have {{ spellingPoints }} Spelling points!</h4>
        <div class="circle3"></div>
        <div class="circle4"></div>
    </div>
    <div onmousedown="party.confetti(this)"><img src="static/images/slothy.png" width="310" height="310"></dv>
  </div>

  <div style="position: relative; left: 430px; top: -600px;">
    <div class="circular-sb">
        <h4 id="CRUD">You have {{ timestablesPoints }} Maths points!</h4>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
    <div onmousedown="party.confetti(this)"><img src="static/images/monkey-tree.png" width="280" height="280"></dv>
  </div>

{% endblock %} 